.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 10px;
    letter-spacing: 0.03em;
    padding: 0 10px;
    margin: 15px 0;
}

.categories__sneaker {
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding-bottom: 3px;

}
.categories__clothes {
    margin: 0 auto;
    border: 1px;
    width: 100%;
    
}

.categories__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 3px;
    padding: 0 10px;

}

.categ__name {
    padding-left: 5px;
    font-weight: bold;
    font-size: 16px;
}