.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-left: 7px;

}

.logo {
    width: 25px;
    height: 25px;
}
.logo:hover {
    transform: scale(1.05);

}
.header__logo span {
    font-size: 14px;
}

