* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  width: 340px;
  height: 570px;
}

aside, nav, footer, header, section, main {
	display: block;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    background-color: #000;
    color: #fff;
}

.indention {
  content: '';
  background-color: #fff;
  height: 10px;

}

.container {
  padding: 3px 10px 3px 10px;
}