* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: 'Roboto', sans-serif;
  width: 340px;
  height: 570px;
  background-color: #000;
  color: #fff;
}

aside, nav, footer, header, section, main {
	display: block;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
  padding: 10px 8px;
}

.container {
  padding: 3px 10px 3px 10px;
}

a {
  text-decoration: none;
  color: #fff;
}